.control {
	list-style: none;
	display: flex;

	.active {
		background-color: rgb(241, 243, 245);
		color: var(--primary-color);
		border-radius: 8px;
	}

	.control__item {
		display: flex;
		justify-content: center;
		margin-right: 5px;
		font-size: 2.3rem;
		padding: 10px 20px;
	}
}
