.wrapper {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 100px;
	padding: 9px 16px;
	border-radius: 4px;
	font-size: 1.6rem;
	font-weight: 600;
	font-family: 'ProximaNova';
	cursor: pointer;
	background-color: #fff;
	border: 1px solid transparent;
	user-select: none;

	+ .wrapper {
		margin-left: 8px;
	}

	&.disable {
		pointer-events: none;
		opacity: 0.5;
	}
}

.icon + .title,
.title + .icon {
	margin-left: 8px;
}

.icon {
	display: inline-block;
	width: 24px;
	text-align: center;
}

.primary {
	color: #fff;
	background-color: var(--primary-color);

	&:hover {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),
			#fe2c55;
	}
}

.outline {
	color: var(--primary-color);
	border-color: currentColor;

	&:hover {
		background-color: rgba(254, 44, 85, 0.06);
	}
}

.text {
	&:hover {
		text-decoration: underline;
	}
}

.small {
	min-width: 88px;
	padding: 4px 16px;
}

.large {
	padding: 14px 16px;
	width: 140px;
}
