.menu-item {
	display: flex;
	align-items: center;
	font-size: 2.3rem;
	font-weight: 600;
	padding: 8px;
	border-radius: 4px;
	transition: background-color ease-in-out 200ms;

	&:hover {
		background-color: rgba(22, 24, 35, 0.03);
	}

	.icon {
		width: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: blue;
	}

	.title {
		margin-left: 8px;
		font-size: 1.7rem;
	}
}
