.wrapper {
	margin-top: 16px;
	border-radius: 8px;
	border: 1px solid rgba(22, 24, 35, 0.03);
	box-shadow: var(--box-boxshadow);
	background-color: rgb(255, 255, 255);
	.container {
		padding: 12px 16px;
		.heading {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.personally {
				display: flex;
				align-items: center;
			}
			.avatar {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				object-fit: contain;
				cursor: pointer;
			}

			.info {
				margin-left: 12px;
				display: flex;
				flex-direction: column;

				.info__name {
					font-size: 1.6rem;
					font-weight: 600;
					cursor: pointer;

					&:hover {
						text-decoration: underline;
					}
				}

				.info__facutly {
					font-size: 1.3rem;
					color: rgb(22, 24, 35, 0.7);
					margin-top: -3px;
				}
			}

			.option {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 32px;
				height: 32px;
				border-radius: 50%;
				cursor: pointer;

				&:hover {
					background-color: rgba(22, 24, 35, 0.07);
				}
			}
		}

		.caption {
			margin-top: 8px;
			text-align: justify;
		}
	}
	.photo > img {
		width: 100%;
		height: auto;
		object-fit: contain;
		display: block;
		cursor: pointer;
	}

	.interac {
		padding: 8px 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.interac__react {
			display: flex;
			align-items: center;

			.interac_react-like {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 18px;
				height: 18px;
				border-radius: 50%;
				background-color: var(--primary-color);
				font-size: 1.3rem;
				color: #fff;
			}

			.interac_react-count {
				padding-top: 2px;
				color: rgba(22, 24, 35, 0.6);
				margin-left: 8px;
			}
		}

		.interac__comment-count {
			font-size: 1.5rem;
			color: rgba(22, 24, 35, 0.6);
		}
	}

	.interacting {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 16px;

		.interacting__handle {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 1 0 calc(100% / 3);
			padding: 8px 0;
			border-radius: 8px;
			font-size: 1.8rem;
			cursor: pointer;
			transition: background-color ease-in-out 200ms;

			&:hover {
				background-color: rgba(22, 24, 35, 0.03);
			}

			.interacting__handle-text {
				margin-left: 8px;
				font-size: 1.5rem;
				color: rgba(22, 24, 35, 0.6);
				font-weight: 600;
			}
		}
	}

	.comment {
		padding: 12px 16px;

		.avatar {
			width: 32px;
			height: 32px;
			border-radius: 50%;
			object-fit: contain;
			cursor: pointer;
		}
		.comment__commenting {
			display: flex;
			align-items: center;

			.comment__commenting-input {
				display: flex;
				align-items: center;
				flex: 1;
				width: 100%;
				height: 36px;
				margin-left: 8px;
				border: 1.5px solid transparent;
				border-radius: 25px;
				background-color: rgba(22, 24, 35, 0.05);
				caret-color: var(--primary-color);

				&:focus-within {
					border: 1.5px solid rgba(22, 24, 35, 0.2);
				}

				.input {
					width: 100%;
					height: 100%;
					font-family: var(--font-family);
					font-size: 1.5rem;
					border: none;
					outline: none;
					background-color: transparent;
					padding: 0 0 0 12px;
				}

				.icon {
					display: flex;
					justify-items: center;
					padding: 0 8px 0 0;

					.icon__item {
						padding: 8px;
						border-radius: 50%;
						cursor: pointer;

						&:hover {
							background-color: rgba(22, 24, 35, 0.07);
						}
					}
				}
			}
		}

		.comment__section {
			display: flex;
			margin-top: 12px;

			.comment__section-content {
				margin: 0 8px;
				font-size: 1.5rem;
				padding: 8px 8px 8px 12px;
				border-radius: 20px;
				background-color: rgba(22, 24, 35, 0.05);
				width: -moz-fit-content;
				width: fit-content;

				.comment__section-content-name {
					font-weight: 600;
					cursor: pointer;

					&:hover {
						text-decoration: underline;
					}
				}

				.comment__section-content-text {
					overflow-wrap: break-word;
					white-space: pre-wrap;
					word-break: break-word;
					-webkit-font-smoothing: antialiased;
					line-height: 1.3333;
				}
			}

			.menu__icon {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 32px;
				height: 32px;
				border-radius: 50%;
				cursor: pointer;
				color: #fff;

				&:hover {
					background-color: rgba(22, 24, 35, 0.07);
					color: #000000;
				}
			}

			.comment__section-content + .menu {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}
