.wrapper {
	margin-top: 16px;
	border-radius: 8px;
	border: 1px solid rgba(22, 24, 35, 0.03);
	box-shadow: var(--box-boxshadow);
	background-color: rgb(255, 255, 255);
	.container {
		padding: 12px 16px;
		.heading {
			display: flex;
			align-items: center;

			.avatar {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				object-fit: contain;
				cursor: pointer;
			}

			.info {
				margin-left: 12px;
				display: flex;
				flex-direction: column;

				.info__name {
					font-size: 1.6rem;
					font-weight: 600;
					cursor: pointer;

					&:hover {
						text-decoration: underline;
					}
				}

				.info__facutly {
					font-size: 1.3rem;
					color: rgb(22, 24, 35, 0.7);
					margin-top: -3px;
				}
			}
		}

		.caption {
			margin-top: 8px;
		}
	}
	.image {
		width: 100%;
		height: auto;
		object-fit: contain;
		display: block;
		cursor: pointer;
	}
}
