.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10001;

    .container {
        min-width: 500px;
        background-color: rgb(255, 255, 255);
        border-radius: 8px;
        box-shadow: var(--tooltip-boxshadow);
    }

    .heading {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-weight: 500;
        padding: 1rem;
        border-bottom: 1px solid rgb(230, 230, 230);
        position: relative;

        .close {
            width: 36px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(22, 24, 35, 0.07);
            position: absolute;
            font-size: 2.3rem;
            right: 1rem;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                background-color: rgba(22, 24, 35, 0.2);
            }
        }
    }
}
